#frame
  #page_title
    %h1 Admin Area
  #main
    %section{id: 'claim_view'}
      %h2 Claims
      %ul.list
        - @group_claims.each do |claim|
          %li
            %a{href: "mailto:#{claim.user_email}"}= claim.user_email
            =" request access to "
            %a{href: "http://directory.secularconnect.org/groups/#{claim.eagle_id}"}= claim.eagle_id
