#frame
  -#map_view
  #page_title
    %h1 Groups Map
    :css
      iframe { border: none; margin-top: 10px; overflow: hidden; }
  #main
    .center
      %div.volary-widget{:'data-src' => @url}
    %script{src: "#{ENV['WIDGET_SERVER']}js/widget_loader.js"}
