#frame
  #page_title
    %h1="Group: #{params[:id]}"
  #main
    .flash
      .notice{:'rv-show' => 'ui:groupRefNotice'}
      .alert{:'rv-show' => 'ui:groupRefError'}
        %span{:'rv-show' => 'ui:badRefError'}
          Some of references you provided were invalid. Please delete broken adapters and try again
    %section{id: 'ref_view'}
      %h3 Refs
      %table
        %tr
          %th Adapter
          %th ID
          %th Status
          %th Actions
        %tr{:'rv-each-ref' => 'group:refs'}
          %td {ref.adapter}
          %td
            %span{:'rv-text' => 'ref.id'}
          %td {ref.status}
          %td
            %input{type: 'submit', value: 'Delete', :'rv-on-click' => "ui.deleteRef"}
      %form{action: 'Post', url: 'whatever'}
        %fieldset
          %p{:'rv-show' => 'ui.addRefError'} Error, Pick an adapter
          %select#addRefAdapterSelect
            %option{value: 'facebook'} Facebook
            %option{value: 'meetup'} Meetup
            %option{value: 'mockingbird'} Mockingbird
          %input#addRefValue{type: 'text'}
          %input{type: 'submit', value: 'Add', :'rv-on-click' => "ui.addRef"}
    %section{id: 'group_control'}
      %input{type: 'submit', value: 'Save Group', :'rv-on-click' => "ui.saveGroup"}
:javascript
  var baked = {
    user: {
      id: "#{current_user.present? ? current_user.id : '1'}",
      email: "#{current_user.present? ? current_user.email : 'none'}",
      role: "#{current_user.present?  ? current_user.role : 'guest'}"
    },
  }
%script{:type=>"text/javascript", src: '../javascripts/lodash.min.js'}
%script{:type=>"text/javascript", src: '../javascripts/backbone.min.js'}
%script{:type=>"text/javascript", src: '../javascripts/rivets.min.js'}
%script{:type=>"text/javascript", src: '../javascripts/groups.js'}s
