.form
  clear: both
  overflow: hidden
  background-color: $dark-list-color
  padding: 14px
  label
    width: 100%
  input
    width: 100%
    height: 20px
    margin-bottom: 7px
    &[type="submit"]
      float: right
      width: 90px
      margin-top: 7px
input
  &[type="submit"]
    height: 25px
    background-color: $button-color
    color: $main-text-color
    font-size: 0.85em
    &.danger
      background-color: $error-color




