
table
  table-layout: fixed
  color: #333
  background-color: white
  border-collapse: collapse
  margin: 0.75em 0
  width: 100%
  thead
    th
      color: white
      font-weight: normal
      background-color: rgba(23, 144, 197, 1)
      border: 1px solid #2283AD
      padding: .8em
      &.empty 
        width: 15%
      &.claimiant 
        width: 55%
        text-align: center
      &.claimiant_status 
        width: 15%
        text-align: center
      &.claimiant_actions 
        width: 30%
        text-align: center
      &.filed 
        width: 70%
        text-align: center
      &.adapter 
        width: 15%
        text-align: center
      &.adapter_id 
        width: 55%
        text-align: center
      &.adapter_status 
        width: 15%
        text-align: center
      &.adapter_actions 
        width: 15%
        text-align: center
    tr:first-child > th:first-child
      border-top-left-radius: 4
    tr:first-child > th:last-child
      border-top-right-radius: 4
  tbody
    tr
      border-bottom: 1px solid #dcdcdc
      &:last-child
        border-bottom: 1px solid #B4B4B4
    td
      padding: 1em
      border-right: 1px solid #dcdcdc
      &:first-child
        border-left: 1px solid #dcdcdc
      &:last-child
        border-right: 1px solid #B4B4B4
      &.claimiant_status, &.claimiant_actions, &.source, &.preferred, &.adapter, &.adapter_status, &.adapter_actions
        text-align: center 
        text-transform: capitalize
  .claimiant_actions
    .button:first-child
      margin-right: 20px
  select 
    width: 100%
    height: 34px
    font-size: 18px
  input#addRefValue
    background-color: white
    border-radius: 0.1875em
    border: 1px solid #dddddd
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06)
    font-size: 1em
    margin-top: 0.3em
    padding: 0.5em 0.5em
    width: 96%
   